### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

backend/node_modules/
backend/dist/
backend/build/
backend/tmp/
backend/coverage/
backend/.env
backend/.DS_Store

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.cache/
frontend/coverage/
frontend/.env
frontend/.DS_Store